*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background: linear-gradient(90deg, blue, rgba(3,4,5,0.15), blue);
}
header {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
header>h1 {
    text-transform: uppercase;
    background: lightgreen;
    color: rgb(252, 44, 44);
    text-decoration: underline;
    font-weight: bolder;
    font-size: 3rem;
    padding: 0.5rem;
}
section {
    display: flex;
    justify-content: center;
}
form {
    margin: 2rem;
}
input {
    font-family: 'ariel';
    font-size: 3rem;
}
#playerOneCapture {
    grid-area: playerOneCapture;
    color: black;
    background: lightblue;
}
#playerTwoCapture {
    grid-area: playerTwoCapture;
    color: white;
    background: lightcoral;
}
#pOne1 {
    grid-area: pOne1;
    color: black;
    background: lightblue;
}
#pOne2 {
    grid-area: pOne2;
    color: black;
    background: lightblue;
}
#pOne3 {
    grid-area: pOne3;
    color: black;
    background: lightblue;
}
#pOne4 {
    grid-area: pOne4;
    color: black;
    background: lightblue;
}
#pOne5 {
    grid-area: pOne5;
    color: black;
    background: lightblue;
}
#pOne6 {
    grid-area: pOne6;
    color: black;
    background: lightblue;
}
#pTwo1 {  
    grid-area: pTwo1;
    color: white;
    background: lightcoral;
}
#pTwo2 {  
    grid-area: pTwo2;
    color: white;
    background: lightcoral;
}
#pTwo3 {  
    grid-area: pTwo3;
    color: white;
    background: lightcoral;
}
#pTwo4 {  
    grid-area: pTwo4;
    color: white;
    background: lightcoral;
}
#pTwo5 {  
    grid-area: pTwo5;
    color: white;
    background: lightcoral;
}
#pTwo6 {  
    grid-area: pTwo6;
    color: white;
    background: lightcoral;
}
#theGameSpacing {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 6rem 5rem 5rem 5rem 5rem 5rem 5rem 6rem;
    grid-template-rows: 5rem 5rem;
    grid-template-areas:
        "playerTwoCapture pTwo6 pTwo5 pTwo4 pTwo3 pTwo2 pTwo1 playerOneCapture"
        "playerTwoCapture pOne1 pOne2 pOne3 pOne4 pOne5 pOne6 playerOneCapture";
    border: solid lightgreen;
}
